*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 120vh;
    width: 100%;
    background-image: url(../images/wallwhite.jpg);
   /* display: flex;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 15em;*/
}

.header{
    width: 100%;
    height: 50px;
    align-items: center;
    text-align:center;
    margin-top:15px;

}

nav.social-network{
    text-align: center;
}

nav.social-network a{
    font-size: 30px;
    color:mediumblue;
    margin: 20px 25px 5px 10px;
}

.movement{
    align-items: center;
    margin: 5em 0em 40em 0em;
}

.container{
    width: 100%;
    text-align: center;
}

.container h1{
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../images/colorido.jpg);
    background-attachment: fixed;
}

.container h2{
    font-size:50px;
}
.container p{
    font-size: 30px;
    font-family:  'Calligraffitti', cursive;;
}

span.italic{
    font-size: 50px;
}

.menu{
    display:flex;
    justify-content: space-between;
    margin: 250px 0px 0px 0px;
    width: 100%;
    height: 40px;
}

button::-moz-focus-inner { border: 0; } /* Para Firefox */

.b3d{
    border:0;
    color: #311a6e;
    font-size: 38px;
    font-family:sans-serif;
    padding: 0px 50px;
    background: -moz-linear-gradient(center top , #978eeb 0%, #8856c9 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#978eeb), color-stop(100%,#5661c9));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-shadow: 1px 1px 1px #cfa6fe;
    -moz-box-shadow: 0px 6px 0 #5d459f;
    -webkit-box-shadow: 0px 6px 0 #5d459f;
   }

.b3d:active{
   position:relative;
   top:3px;
   -moz-box-shadow:0px 3px 0 #5d459f;
   -webkit-box-shadow:0px 3px 0 #5d459f;
   background: -moz-linear-gradient(center top , #A5C956 0%, #CDEB8E 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5c956), color-stop(100%,#cdeb8e));
   }



