*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 120vh;
    width: 100%;
    background-image: url(../images/wallwhite.jpg);
   /* display: flex;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 15em;*/
}

.header{
    width: 100%;
    height: 40px;
    align-items: center;
    text-align:center;
    margin-top:15px;
}

nav.social-network{
    text-align: center;
}

nav.social-network a{
    font-size: 30px;
    color:#0000cd;
    margin: 20px 25px 5px 10px;
}

.movement{
    align-items: center;
    margin: 5em 0em 40em 0em;

}

.container{
    width: 100%;
    text-align: center;
}

.container h1{
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../images/colorido.jpg);
    background-attachment: fixed;
}

.container h2{
    font-size:50px;
}
.container p{
    font-size: 30px;
    font-family:  'Calligraffitti', cursive;;
}

span.italic{
    font-size: 50px;
}

.menu{
    /*display:flex;
    justify-content: space-between;*/
 
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: 40px;
}

button::-moz-focus-inner { border: 0; } /* Para Firefox */

.b3d{
    display:block;
    border:0;
    color: #0000cd;
    font-size: 25px;
    font-family:sans-serif;
    padding: 10px 10px;
    background: -moz-linear-gradient(center top , #3152aa 0%, #483fc9 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#829eec ), color-stop(100%,#5661c9));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px 1px #5f7ddf;
    /*-moz-box-shadow: 0px 6px 0 #2b4897;
    -webkit-box-shadow: 0px 6px 0 #2b4897;*/
    text-shadow: 1px 1px 1px #a6b6fe;
    width:230px;

    margin:5px 0px 0px 15px;
   }

.b3d:active{
   position:relative;
   top:3px;
   -moz-box-shadow:0px 2px 0 #455d9f;
   -webkit-box-shadow:0px 2px 0 #455d9f;
   background: -moz-linear-gradient(center top , #483fc9 0%, #3152aa 100%) repeat scroll 0 0 transparent;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#483fc9), color-stop(100%,#3152aa));*/
   }

.appear{
    background-color: darkblue;
    height: 150px;
}

.square{
    margin: 30px 100px 0px 280px;
    width: 800px;
    height: 350px;
   
    background-image: url(../images/water.jpg);
  
    border: 1px solid #626662; /* Color del borde, debe ser más claro que fondo */

	color: #05040e; 
    font-size: 30px;
    padding: 80px;
	border-radius: 10px;  /* Bordes redondos */
	box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -8px -8px 8px rgba(41, 40, 40, 0.4);
	text-shadow: 1px 1px rgba(0,0,0,.3);  /* Sombra del texto */
	text-align: center;  /* Alineación del texto */
  
}


